**/__pycache__/
datasets/
sources/tanks-and-temples/Barn/
sources/tanks-and-temples/Caterpillar/
sources/tanks-and-temples/Church/
sources/tanks-and-temples/Courthouse/
sources/tanks-and-temples/Ignatius/
sources/tanks-and-temples/Meetingroom/
sources/tanks-and-temples/Truck/
